In [1]:
import pandas as pd
import sqlalchemy
import csv

In [2]:
engine = sqlalchemy.create_engine('mysql+pymysql://siorf:PMseis06@mysql.siorf.kinghost.net:3306/siorf')

In [3]:
dfPIO = pd.read_csv('tbl_FCDFPlanoInterno.csv', delimiter = ';')
dfPIO

     Proposta  Quantidade             Valor
0          27         NaN   213.946.190,90
1          28         NaN   155.948.303,20
2          29         NaN    66.707.177,68
3          30         NaN     1.568.253,30
4          32         NaN   140.993.790,80
..        ...         ...               ...
107       327         1.0       500.000,00
108       328         1.0     1.000.000,00
109       267         1.0     7.872.600,00
110       268      2162.0     1.982.128,00
111       269         NaN     3.488.142,00

[112 rows x 3 columns]

In [4]:
propostaFCDF = pd.read_sql_table('tbl_FCDFProposta', engine)
propostaSetorial = pd.read_sql_table('tbl_PropostaSetorial',engine)
cadastro = pd.read_sql_table('tbl_CadastroDemandas',engine)

In [5]:
propostaFCDF

,Id_FCDFProposta,prf_PropostaSetorial,prf_Quantidade,prf_Valor,prf_Fonte,prf_Funcao,prf_Subfuncao,prf_Programa,prf_Acao,prf_Subtitulo
0,1,116,12,20000.0,100,28,845,0903,00NR,0053
1,2,117,6,20000.0,100,28,845,0903,00NR,0053
2,3,118,12,20000.0,100,28,845,0903,00NR,0053
3,4,119,1,150000.0,100,28,845,0903,00NR,0053
4,5,120,1,50000.0,100,28,845,0903,00NR,0053
...,...,...,...,...,...,...,...,...,...,...
286,287,7,126648,5400089.0,100,28,845,0903,00NS,0053
287,288,8,10554,95281452.0,100,28,845,0903,00NS,0053
288,289,39,300,880662.0,100,28,845,0903,00NS,0053
289,290,11,58704,288339863.0,100,28,845,0903,00Q2,0053
290,291,12,4892,22056646.0,100,28,845,0903,00Q2,0053

In [6]:
dfPIO1 = dfPIO.merge(propostaFCDF, left_on='Proposta', right_on='Id_FCDFProposta', how = 'left')
dfPIO1

,Proposta,Quantidade,Valor,Id_FCDFProposta,prf_PropostaSetorial,prf_Quantidade,prf_Valor,prf_Fonte,prf_Funcao,prf_Subfuncao,prf_Programa,prf_Acao,prf_Subtitulo
0,27,NaN,"213.946.190,90",27.0,200.0,0.0,640.0,100,28,845,0903,00NR,0053
1,28,NaN,"155.948.303,20",28.0,201.0,0.0,980.0,100,28,845,0903,00NR,0053
2,29,NaN,"66.707.177,68",29.0,203.0,0.0,2394.0,100,28,845,0903,00NR,0053
3,30,NaN,"1.568.253,30",30.0,204.0,0.0,6468.0,100,28,845,0903,00NR,0053
4,32,NaN,"140.993.790,80",32.0,206.0,0.0,2000.0,100,28,845,0903,00NR,0053
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,327,1.0,"500.000,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,328,1.0,"1.000.000,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,267,1.0,"7.872.600,00",267.0,24.0,144636.0,165917967.0,100,28,845,0903,00NR,0053
110,268,2162.0,"1.982.128,00",268.0,25.0,144636.0,70776531.0,100,28,845,0903,00NR,0053
111,269,NaN,"3.488.142,00",269.0,26.0,144636.0,1671914.0,100,28,845,0903,00NR,0053

In [7]:
propostaSetorial.head(3)

,Id_PropostaSetorial,pps_CadastroDemanda,pps_Justificativa,pps_alinhamentoEstrategico,pps_Quantidade,pps_Valor,pps_Observacao,pps_UnidadeDemandante,pps_Exercicio
0,1,241,LEI NÂ° 10.486/2002 E LEI NÂ° 12.086/2022,1.2.1,126648,34843636.0,nan,DPPP,2021
1,2,223,LEI NÂ° 840/2018/DECRETO 40.610/2030,1.2.1,370,18997202.0,nan,DPPP,2021
2,3,242,LEI NÂ° 10.486/2002 E LEI NÂ° 12.086/2023,1.2.1,126648,4421741.0,nan,DPPP,2021

In [8]:
dfPIO2 = dfPIO1.merge(propostaSetorial, left_on='prf_PropostaSetorial', right_on='Id_PropostaSetorial', how = 'left')

In [10]:
dfPIO2.head(1)

,Proposta,Quantidade,Valor,Id_FCDFProposta,prf_PropostaSetorial,prf_Quantidade,prf_Valor,prf_Fonte,prf_Funcao,prf_Subfuncao,...,prf_Subtitulo,Id_PropostaSetorial,pps_CadastroDemanda,pps_Justificativa,pps_alinhamentoEstrategico,pps_Quantidade,pps_Valor,pps_Observacao,pps_UnidadeDemandante,pps_Exercicio
0,27,NaN,"213.946.190,90",27.0,200.0,0.0,640.0,100,28,845,...,0053,200.0,73.0,nan,nan,0.0,640.0,Demanda Oriunda do CME.,CME,2021.0

In [ ]:
dfPIO3 = dfPIO2

In [ ]:
#Agora transformar o DataFrame em uma lista para ser inserido no MYSQL
list_PIO = dfPIO.values.tolist()
PIO = []
#Transformando dados 'int' em string'
for lista in list_PIO:
    linha = []
    for registro in lista:
        registro = str(registro)
        linha.append(registro)
    PIO.append(linha)
print(PIO)

In [ ]:
for registro in PIO:
    engine.execute('SET FOREIGN_KEY_CHECKS=0;')
    engine.execute('INSERT INTO tbl_GDFPlanoInterno ( pig_Proposta, pig_Quantidade, pig_Valor) values ("'+registro[0]+'","'+registro[1]+'","'+registro[2]+'");')